
body {
    font-family: Karla, sans-serif;
    color: #484848;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    background-color: #FF5A5F;
    margin: 0;
    padding: 0;
    height: 80px;
}

#logo {
    height: 80px;
}

nav {
    display: inline-block;
    float: right;
    
}
nav li {
    display: inline-block;
    line-height: 80px;
    
}
nav a {
    color: white;
    size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;

}
nav a:visited {
    color: white;
    size: 18px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;

}

.content {
    width: 900px;
    margin: auto;
}

section {
    padding: 50px;
    border: 1px solid #cccccc;  
    margin-bottom: 50px;
}

section img {
    width: 300px;
}

h1 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 20px;
}

section p {
    font-size: 15px;
}